doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Test Document
  body 
    h1 HTML rendered successfully!
    p API Status: 
      span#message 
    
    include node_env.pug

    script.
      fetch(`${rootUrl}/api/test`).then(response => response.json()).then(json => document.getElementById('message').innerText = json.message);